<h1>Typing Results</h1>
<div>
  <% @results.each_with_index do |result, index| %>
    <ul>
      <li><%= index + 1 %> 位</li>
      <li><%= result.user.name %></li>
      <li><%= result.time %> 秒</li>
    </ul>
  <% end %>
</div>
