<h1>Typing Game</h1>
<div class="container">

</div>

<%= form_with url: typing_game_submit_answer_path, method: :get do %>
  <% hidden_field_tag :sentence_id, @sentence.id %> <!-- ここでsentence_idを送信 -->
  <%= text_field_tag :answer %> <!-- ユーザーの回答を入力 -->
  <%= submit_tag "Submit" %>
<% end %>